<a href="https://colab.research.google.com/github/leeIITM/AI-X-HORIZON/blob/main/csv_to_graph.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
import pandas as pd

df=pd.read_csv("/content/drive/MyDrive/train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [46]:
df.head()
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [47]:
df.drop(['Cabin'],axis=1,inplace=True)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [48]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,Q

In [49]:
df.drop('Name',axis=1,inplace=True)

In [50]:
df['Age'].fillna(df['Age'].median(), inplace=True)
df

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,female,35.0,1,0,113803,53.1000,S
4,5,0,3,male,35.0,0,0,373450,8.0500,S
...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,27.0,0,0,211536,13.0000,S
887,888,1,1,female,19.0,0,0,112053,30.0000,S
888,889,0,3,female,28.0,1,2,W./C. 6607,23.4500,S
889,890,1,1,male,26.0,0,0,111369,30.0000,C
890,891,0,3,male,32.0,0,0,370376,7.7500,Q

In [51]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
dtype: int64

In [52]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(handle_unknown='ignore', sparse_output=False)

# Fit and transform the categorical columns
encoded_data = ohe.fit_transform(df[['Sex', 'Embarked']])

# Create new column names
feature_names = ohe.get_feature_names_out(['Sex', 'Embarked'])

# Create DataFrame from encoded data
df_encoded = pd.DataFrame(encoded_data, columns=feature_names)

# Concatenate encoded DataFrame with original DataFrame (optional)
df_final = pd.concat([df, df_encoded], axis=1)

print(df_final)

     PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch  \
0              1         0       3    male  22.0      1      0
1              2         1       1  female  38.0      1      0
2              3         1       3  female  26.0      0      0
3              4         1       1  female  35.0      1      0
4              5         0       3    male  35.0      0      0
..           ...       ...     ...     ...   ...    ...    ...
886          887         0       2    male  27.0      0      0
887          888         1       1  female  19.0      0      0
888          889         0       3  female  28.0      1      2
889          890         1       1    male  26.0      0      0
890          891         0       3    male  32.0      0      0

               Ticket     Fare Embarked  Sex_female  Sex_male  Embarked_C  \
0           A/5 21171   7.2500        S         0.0       1.0         0.0
1            PC 17599  71.2833        C         1.0       0.0         1.0
2    STON/O2. 3101282   7.9250        S         1.0       0.0         0.0
3              113803  53.1000        S         1.0       0.0         0.0
4              373450   8.0500        S         0.0       1.0         0.0
..                ...      ...      ...         ...       ...         ...
886            211536  13.0000        S         0.0       1.0         0.0
887            112053  30.0000        S         1.0       0.0         0.0
888        W./C. 6607  23.4500        S         1.0       0.0         0.0
889            111369  30.0000        C         0.0       1.0         1.0
890            370376   7.7500        Q         0.0       1.0         0.0

     Embarked_Q  Embarked_S  Embarked_nan
0           0.0         1.0           0.0
1           0.0         0.0           0.0
2           0.0         1.0           0.0
3           0.0         1.0           0.0
4           0.0         1.0           0.0
..          ...         ...           ...
886         0.0         1.0           0.0
887         0.0         1.0           0.0
888         0.0         1.0           0.0
889         0.0         0.0           0.0
890         1.0         0.0           0.0

[891 rows x 16 columns]

In [61]:
df

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Ticket,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,22.0,1,0,A/5 21171,7.2500,False,True,False,False,True
1,2,1,1,38.0,1,0,PC 17599,71.2833,True,False,True,False,False
2,3,1,3,26.0,0,0,STON/O2. 3101282,7.9250,True,False,False,False,True
3,4,1,1,35.0,1,0,113803,53.1000,True,False,False,False,True
4,5,0,3,35.0,0,0,373450,8.0500,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,27.0,0,0,211536,13.0000,False,True,False,False,True
887,888,1,1,19.0,0,0,112053,30.0000,True,False,False,False,True
888,889,0,3,28.0,1,2,W./C. 6607,23.4500,True,False,False,False,True
889,890,1,1,26.0,0,0,111369,30.0000,False,True,True,False,False
890,891,0,3,32.0,0,0,370376,7.7500,False,True,False,True,False

In [64]:
df

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Ticket,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,22.0,1,0,A/5 21171,7.2500,False,True,False,False,True
1,2,1,1,38.0,1,0,PC 17599,71.2833,True,False,True,False,False
2,3,1,3,26.0,0,0,STON/O2. 3101282,7.9250,True,False,False,False,True
3,4,1,1,35.0,1,0,113803,53.1000,True,False,False,False,True
4,5,0,3,35.0,0,0,373450,8.0500,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,27.0,0,0,211536,13.0000,False,True,False,False,True
887,888,1,1,19.0,0,0,112053,30.0000,True,False,False,False,True
888,889,0,3,28.0,1,2,W./C. 6607,23.4500,True,False,False,False,True
889,890,1,1,26.0,0,0,111369,30.0000,False,True,True,False,False
890,891,0,3,32.0,0,0,370376,7.7500,False,True,False,True,False

In [58]:
print(df['Ticket'].nunique())

681

In [66]:
node_features =df[[
    "Age",
    "SibSp",
    "Parch",
    "Ticket",
    "Fare",
    "Sex_female",
    "Sex_male",
    "Embarked_C",
    "Embarked_Q",
    "Embarked_S"
]]

In [67]:
# Convert to numpy
x = node_features.to_numpy()
x.shape

(891, 10)

now extract labels for classification of survived or not?

In [70]:
labels=df[['Survived']]
print(labels)

     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
886         0
887         1
888         0
889         1
890         0

[891 rows x 1 columns]

In [72]:
y = labels.to_numpy()
y.shape

(891, 1)

In [75]:
df["Survived"] = df.reset_index().index

In [77]:
df["Pclass"].value_counts()

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

getting the edge connected between the nodes of the graph

In [80]:
import itertools
import numpy as np

classes = df["Pclass"].unique()
all_edges = np.array([], dtype=np.int32).reshape((0, 2))
for team in classes:
    # Use 'team' instead of 'classes' to filter the DataFrame
    class_df = df[df["Pclass"] == team]
    people = class_df["PassengerId"].values
    # Build all combinations, as all players are connected
    permutations = list(itertools.combinations(people, 2))
    edges_source = [e[0] for e in permutations]
    edges_target = [e[1] for e in permutations]
    team_edges = np.column_stack([edges_source, edges_target])
    all_edges = np.vstack([all_edges, team_edges])
# Convert to Pytorch Geometric format
edge_index = all_edges.transpose()
edge_index # [2, num_edges]

array([[  1,   1,   1, ..., 881, 881, 884],
       [  3,   5,   6, ..., 884, 887, 887]])